   
    <div class="container">
        <h1>Como podemos ajudá-lo?</h1>
    
        <div class="row">
            <div class="container" style="padding-right: 30px">
                <button class="btn btn-padrao btn-artigo" data-toggle="modal" data-target="#modalArtigo">
                    <i class="glyphicon glyphicon-pencil"></i> Novo artigo</button>
            </div>
        </div>
    
        <!--modal novo artigo-->
        <div class="modal fade" id="modalArtigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLabel">Novo Artigo</h4>
                    </div>
                    <div class="modal-body">
                        <form name="novaDuvida">
                            <div class="form-group ">
                                <div>
                                    <label for="recipient-name" class="control-label">Categoria</label>
                                </div>
                                <div class="col-md-11 col-sm-11 col-xs-10 select-categorias" ng-init="listCategoria();">
                                    <select class="form-control" ng-model="pergunta.idCategoria"  id="idCategoria" ng-required="true">
                                        <option ng-repeat="categoria in categorias track by $index" value="{{categoria.id}}">{{categoria.nome}}</option>
                                    </select>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-2">
                                    <button type="button" class="btn btn-padrao btn-categoria" data-toggle="modal" data-target="#modalCategoria">+</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Pergunta</label>
                                <input type="text" class="form-control" ng-model="pergunta.textoPergunta" id="textoPergunta" ng-required="true">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Resposta</label>
                                <textarea class="form-control" ng-model="pergunta.textoResposta" id="textoResposta" ng-required="true"></textarea>
                            </div>
                        </form>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-padrao" ng-click="adicionarDuvida(pergunta)" ng-disabled="novaDuvida.$invalid">Criar</button>
                    </div>
                </div>
            </div>
        </div>
    
        <!--Modal nova categoria-->
    
        <div class="modal fade bs-example-modal-sm" id="modalCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Nova Categoria</h4>
                    </div>
                    <div class="modal-body">
                        <form name="novaCategoria">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Categoria</label>
                                <input type="text" class="form-control" ng-model="categoria.categoria" id="nomeCategoria" ng-required="true">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-padrao" ng-click="adicionarCategoria(categoria)" ng-disabled="novaCategoria.$invalid">Criar</button>
                    </div>
                </div>
            </div>
        </div>
    
        <!--fim Modal novo artigo-->

        <!--Container de categorias-->
        <div class="container" ng-init="listDuvida(); listCategoria();">
            <div class="box-container col-md-6" ng-repeat="cat in categorias | filter:busca track by $index " >
                <div class="box-categorias" ng-if="categorias.length > 0">
                    <div class="titulo-categoria">{{cat.nome}}</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 corpo-categoria" ng-repeat="question in duvidas | filter:busca track by $index " ng-if="question.idCategoria == cat.id">
                        <div class="col-md-11 col-sm-11 col-xs-10" >
                            <a href="/respostas/{{question.pergunta}}" ng-model="question" >{{question.textoPergunta}}</a>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-2  ">
                            <i class="glyphicon glyphicon-remove" ng-click="apagarDuvida(categorias.categoria, question)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fim Container de categorias-->
    </div>
{{pergunta}}