<div class="container">
    <h1>Como podemos ajudá-lo?</h1>

    <div class="row">
        <div class="container adicionar-artigo">
            <button class="btn btn-padrao btn-artigo" data-toggle="modal" data-target="#modalArtigo">
                <i class="glyphicon glyphicon-plus"></i> Novo artigo
            </button>
        </div>
    </div>

    <!--Modal novo artigo-->
    <div class="modal fade" id="modalArtigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Novo Artigo</h4>
                </div>
                <div class="modal-body">
                    <form name="novaDuvida" novalidate>
                        <div class="form-group ">
                            <div>
                                <label for="recipient-name" class="control-label">Categoria</label>
                            </div>
                            <div class="col-md-11 col-sm-11 col-xs-10 select-categorias" ng-init="listCategoriasPerguntas();">
                                <select class="form-control" ng-model="pergunta.categoria" id="idCategoria" ng-required="true" ng-options="categoria as categoria.nome for categoria in categoriasPerguntas track by categoria.idCategoria "></select>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-2">
                                <button type="button" class="btn btn-padrao btn-categoria" data-toggle="modal" data-target="#modalCategoria">+</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Pergunta</label>
                            <input type="text" class="form-control" ng-model="pergunta.textoPergunta" id="textoPergunta" ng-required="true">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Resposta</label>
                            <textarea class="form-control" ng-model="pergunta.textoResposta" id="textoResposta" ng-required="true"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-padrao" ng-click="adicionarDuvida(pergunta)" ng-disabled="novaDuvida.$invalid">Criar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fim modal novo artigo-->

    <!--Modal nova categoria-->
    <div class="modal fade bs-example-modal-sm" id="modalCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Nova Categoria</h4>
                </div>
                <div class="modal-body">
                    <form name="novaCategoria">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Categoria</label>
                            <input type="text" class="form-control" ng-model="categoria.nome" id="nomeCategoria" ng-required="true">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-padrao" ng-click="adicionarCategoria(categoria)" ng-disabled="novaCategoria.$invalid">Criar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fim modal novo artigo-->

    <!--Container de categorias-->
    <div class="container" ng-init="listCategoriasPerguntas();">
        <div class="box-container col-md-6" ng-repeat="cat in categoriasPerguntas | filter:busca track by $index">
            <div class="box-categorias">
                <div class="titulo-categoria col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-10 col-sm-10 col-xs-9">
                        {{cat.nome}}
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-4 icones-gerenciar">
                        <i class="glyphicon glyphicon-pencil" ng-click="editarCategoria(cat)"></i>
                        <i class="glyphicon glyphicon-remove" ng-click="apagarCategoria(cat)"></i>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 corpo-categoria" ng-repeat="perg in cat.conteudo | filter:busca track by $index">
                    <div class="col-md-10 col-sm-10 col-xs-9">
                        <a href="/respostas/{{perg.id}}" ng-model="question">{{perg.textoPergunta}}</a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-4 icones-gerenciar">
                        <i class="glyphicon glyphicon-pencil" ng-click="editarDuvida(perg, perg.idCategoria)"></i>
                        <i class="glyphicon glyphicon-remove" ng-click="apagarDuvida(perg, cat)"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Fim Container de categorias-->

    <!--Modais de exclusão-->

    <!--Modal exluir pergunta-->
    <div class="modal fade bs-example-modal-sm" id="modalExcluirPergunta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-exclusao">Deseja realmente apagar esta pergunta?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-padrao" id="excluirPerg" >Excluir</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fim Modal exluir pergunta-->

    <!--Modal exluir categoria-->
    <div class="modal fade bs-example-modal-sm" id="modalExcluirCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-exclusao">Deseja realmente apagar esta categoria?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-padrao" id="excluirCat">Excluir</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fim Modal exluir categoria-->


    <!-- Modal Editar pergunta -->
    <div class="modal fade" id="modalEditarArtigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Editar Artigo</h4>
                </div>
                <div class="modal-body">
                    <form name="editaDuvida">
                        <div class="form-group ">
                            <div>
                                <label for="recipient-name" class="control-label">Categoria</label>
                            </div>
                            <div class="col-md-11 col-sm-11 col-xs-10 select-categorias" ng-init="listCategoriasPerguntas();">
                                <select class="form-control" ng-model="editaPergunta.idCategoria" id="idCategoria" ng-required="true" ng-options="categoria as categoria.nome for categoria in categoriasPerguntas track by categoria.id">
                                </select>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-2">
                                <button type="button" class="btn btn-padrao btn-categoria" data-toggle="modal" data-target="#modalCategoria">+</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Pergunta</label>
                            <input type="text" class="form-control" ng-model="editaPergunta.textoPergunta" id="textoPergunta" ng-required="true">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Resposta</label>
                            <textarea class="form-control" ng-model="editaPergunta.textoResposta" id="textoResposta" ng-required="true"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-padrao" id='editPerg' ng-disabled="editaDuvida.$invalid" ng-click="editP(editaPergunta)">Editar</button>
                </div>
            </div>
        </div>
    </div>

     <!--Fim modal editar artigo-->



</div>